

<div align='center'><img src="assets/charging-station-solid.svg"width="100" height="100"><h1>ChargingStation Application with Angular</h1></div>
<h2>List of my stations</h2>
<div>
  <table class="table" style="width: 80%">
    <tr>
      <th>zipCode</th>
      <th>Geolocation: latitude</th>
      <th>Geolocation: longitude</th>

      <th></th>
    </tr>
    <tr *ngFor="let chargingStation of stations">
      <td>
        {{chargingStation.zipCode}}
      </td>
      <td>
        <button btn='disabled'>{{chargingStation.geoLocation.x}}</button>
    
      </td>
      <td>
        <button>{{chargingStation.geoLocation.y}}</button>
    
      </td>
      
    </tr>
  </table>
</div>
<div>
  
    <div class="row">
      <div class="col-sm-6">
    <button type="button" class="btn btn-success" (click)="addChargingStation()"> Add a station</button>
        </div>
    <div class="col-sm-6">
    <button type="button" class="btn btn-primary" (click) = "openPopup()">
      Search By Code Postal
    </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>


